*.suo
*.bmp
*.jpg
*.fbx
*.obj

*.3ds
*.png
*.dds
*.psd
*.tga
*.gif
*.tif
*.mat
*.prefab
*.cache
*.meta
*.asset
*.anim
*.controller
*.wav
*.unity
*.db
*.tmp
*.txt
*.fobj
/Library/
/Assets/ThirdPartyAssets/
/Assets/Sounds/*.mp3
/Assets/Particles/Scenes/*.lighting
/Assets/UI/Bitmaps/*.jpeg
/Temp/*.hash
/.vsconfig
/Logs/*.log
/Temp/UnityLockfile
/Temp/UnityTempFile-2456d7c66a10d9e439085ce910682f67
/Temp/UnityTempFile-2feb9497574161d4c8161a675881ab0e
/Temp/UnityTempFile-344900b49a5b1224798c9e72bfdd8f3a
/Temp/__Backupscenes/0.backup
/Temp/workerlic
